
     {{!-- <%-include('common/head.ejs')-%> --}}
     {{>head_admin}}
      <title>Roam arabia </title>
   </head>
   <body>
    {{!-- <%-include('common/header.ejs')-%> --}}
    {{>header_admin}}
      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare">
                {{!-- <%-include('common/sidebaar.ejs')-%> --}}
               {{>sidebaar}}
            </div>
            <div class="col-lg-10">
               

               <br><br>
             {{#if sucess}}
               {{!-- <%if(sucess && sucess !=''){%> --}}
                  <div class="alert alert-success" role="alert">       {{ sucess}}   </div>
                       {{!-- <%}else if(err && err !=''){%> --}}
                       {{else}}
                  <div class="alert alert-danger" role="alert">        {{err}}  </div>   

                  {{/if}}



               <div class="dashboard-content-area">
                
               <h1>All Pages</h1>
               
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                
                  <thead>
                     <tr>
                  
                        <th>Page Photo</th>
                        <th>Page Url</th>
                        <th>Nav Text</th>
                        <th>Title</th>
                        <th>Meta Description</th>
                        <th>Meta Keyword</th>
                        <th>h1</th>
                        <th>Page Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
             

                       
                        {{#each x}}
                           <tr>                       
                              <td>
                                 {{!-- <%if(y.pagePhoto){%> --}}
                                 {{#if this.pagePhoto}}
                                    <img src="/backend/images/{{this.pagePhoto}}" width="70">
                                   {{else}}
                                       <img src="/backend/images/no-img.png" width="70">
                                    
                                    {{/if}}
                                  </td>
                              
                            
                              
                              <td>{{this.pageUrl}}</td>
                              <td>{{this.pageNavText}}</td>
                              <td>{{this.pageTitle}}</td>
                              <td> {{this.pageMetaDescrition}}</td>
                              <td> {{this.pageMetaKeyword}}</td>
                              <td> {{this.pageHeading}}</td>
                              {{!-- <td> <%=y.PageDetails.slice(0, 20)%></td>%></td> --}}
                               <td> {{trimString  this.PageDetails}}</td>
                                  {{!-- <td> {{this.PageDetails}}</td> --}}
                              <td>
                                 <a class="btn btn-primary" href="/admin/pages/edit-pages/{{this.pageUrl}}">Edit</a>   </td>
                                 <td>                  
                                 <form style="display: inline;" action="/admin/pages/delete-pages/{{this.pageUrl}}?_method=DELETE" method="POST">
                                    <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                                 </form>
                              </td>
                           </tr>
                        {{!-- <%x})%> --}}
                        {{/each}}
     
              
                  </tbody>
               </table>

              <center> <br> <a class="btn btn-success btn-md" href="/admin/pages/add-pages/">Add More Pages</a> </center>
              <!-- end your content here -->
             </div>

            </div>


         </div>
      </div>

     {{!-- <%-include('common/footer.ejs')-%> --}}
     {{>footer_admin}}
  