
     {{!-- <%-include('common/head.ejs')-%> --}}
     {{>head_admin}}
      <title>Roam Arabia!</title>
   </head>
   <body>
    {{!-- <%-include('common/header.ejs')-%> --}}
    {{header_admin}}
      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare">
                {{!-- <%-include('common/sidebaar.ejs')-%> --}}
               {{>sidebaar}}
            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">
                <!-- put your contente -->

                <h1 class="mb-2 mt-2">Edit Page</h1>
  
                <form method="post" action="/admin/pages/edit-pages/{{x.pageUrl}}?_method=put" enctype="multipart/form-data">         
                  <div class="mb-3 mt-3 row g-9 align-items-center">  
                    <div class="col col-lg-2"><label class="form-label">URL</label></div>
                    <div class="col"><input type="text" name="page_Url" value="{{x.pageUrl}}" class="form-control" placeholder="Page Url"></div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">           
                    <div class="col col-lg-2"><label class="form-label">Nav Display Text</label></div>
                    <div class="col"><input type="text" name="page_Nav_Text" value="{{x.pageNavText}}" class="form-control" placeholder="Navigation Display Text"></div>
                 </div>
                 <div class="mb-3 mt-3 row g-9 align-items-center">           
                  <div class="col col-lg-2"><label class="form-label">Page Title</label></div>
                  <div class="col"><input type="text" name="page_Title" value="{{x.pageTitle}}" class="form-control" placeholder="Page Title"></div>
               </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">           
                      <div class="col col-lg-2"><label class="form-label">Meta Description</label></div>
                      <div class="col"><input type="text" name="page_Meta_Descrition" value="{{x.pageMetaDescrition}}" class="form-control" placeholder="Page Meta Description"></div>
                  </div>
            
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">Meta Keyword</label></div>
                    <div class="col"><input type="text" name="page_Meta_Keyword" value="{{x.pageMetaKeyword}}" class="form-control" placeholder="Page Meta Keyword"></div>
                  </div>
                  
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">h1</label></div>
                    <div class="col"><input type="text" name="page_Heading" value="{{x.pageHeading}}" class="form-control" placeholder="Page Heading"></div>
                  </div>
                  
                  <div class="mb-3 mt-3 row g-9 align-items-center"> 
                    <div class="col col-lg-2"><label class="form-label">Photo</label></div>
                    <div class="col"><input type="file" name="page_Photo" value="{{x.pageUrl}}" class="form-control"></div>
                  </div>
                  
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">Page Details</label></div>
                    <div class="col"><textarea rows="10" id='editor' class="editor form-control Page_Details" name="Page_Details" placeholder="Page Details">{{x.PageDetails}}</textarea></div>
                  </div>
            
                  <div class="mb-5 mt-3 align-items-center text-center"> 
                       <button type="submit" class="btn btn-success">Submit</button>
                  </div>
              </form>

              <!-- end your content here -->
             </div>

            </div>
         </div>
      </div>
{{>footer_admin}}

     {{!-- <%-include('common/footer.ejs')-%> --}}
  